{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-messages">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

</div>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <h2 class="card-title">Login</h2>
    <form method="POST" action="{{ url_for('login') }}">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
      <a href="{{ url_for('register') }}" class="btn btn-link">Dont have an account? Register here</a>
    </form>
  </div>
</div>

</div>
<div class="container px-4 text-center">
  <div class="row gx-5">
    <div class="col">
    </div>
  </div>
</div>
{% endblock %}