{% extends "base.html" %}
{% block title %}accounthistory{% endblock %}
{% block content %}


  <h1>Account History</h1>
  <p>This is where account history details will go.</p>


<table class="table">
  <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">Transaction Type</th>
      <th scope="col">Shares#</th>
      <th scope="col">Bought Amount</th>
      <th scope="col">DoP</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>AAA</td>
      <td>Buy</td>
      <td>100</td>
      <td>$1000</td>
      <td>9/17/2025</td>
    </tr>
    <tr>
      <td>BBB</td>
      <td>Sell</td>
      <td>50</td>
      <td>-$400</td>
      <td>9/17/2025</td>
    </tr>
    <tr>
      <td>CCC</td>
      <td>Buy</td>
      <td>200</td>
      <td>$2,000</td>
      <td>9/17/2025</td>
    </tr>
  </tbody>
</table>








{% endblock %}
