{% extends "base.html" %}
{% block title %}dashboard{% endblock %}
{% block content %}

<table width="100%" cellspacing="0" cellpadding="8" border="0">
  <tr valign="top">
    <!-- LEFT COLUMN CHART AND STOCK TILES-->
    <td width="70%">

      <!-- chart panel -->
      <div class="container">
        <!-- Content here -->
        </div>

      <!--  stock tiles  -->
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>

    <!-- RIGHT COLUMN -->
    <td width="30%">
      <table width="100%" border="0" cellspacing="0" cellpadding="8">
      </h1>align="center"><h1>Palm Tree StockSim<h1>
        

        <!-- td means data cell -->
        <!-- tr means row -->
        <!-- Stacked buttons (no CSS) -->
        <button type="button" class="btn">Market</button>
        <button type="button" class="btn">Buy</button>
        <button type="button" class="btn">Sell</button>
        <button type="button" class="btn">Account</button>
        <button type="button" class="btn">Settings</button>
      </table>
    </td>
  </tr>
</table>

{% endblock %}
