{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}

<header class="mb-4">
  <h1 class="text-center">Login Page</h1>
<form>
  <div class="mb-3">
    <label for="inputUsername1" class="form-label">Username</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="InputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
  </div>
<div class="mb-3 form-check">
  <a href="/signup" class="signup-link">Not a user? Sign in here!</a>
</div>
  
  <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-primary">
  Submit
</a>
</form>


{% endblock %}
